.footer {
  padding: 90px 5px 60px 5px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  @media screen and(max-width: $md){
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
  }
}